@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
@section Styles {
    <link rel="stylesheet" href="~/css/account.css" />
}
<div class="account-menu">
    <a class="menu-item @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Profile</a>
    <a class="menu-item @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">Email</a>
    <a class="menu-item @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Password</a>
    <a class="menu-item @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="two-factor" asp-page="./TwoFactorAuthentication">Two-factor authentication</a>
    <a class="menu-item @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">Personal data</a>
    <a class="menu-item @ManageNavPages.RentalsNavClass(ViewContext)" id="rentals" asp-page="./Rentals">Your Rentals</a>
    <a class="menu-item @ManageNavPages.BookingsNavClass(ViewContext)" id="bookings" asp-page="./Bookings">Your Bookings</a>

</div>
