@model System.Linq.IQueryable<FastFlat.Models.BookingModel>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>
<table>
    <tr><th>Listing id</th><th>user id</th><th>booked from</th> <th>booked to</th> <th>Total price</th></tr>
    @foreach (var Li in Model)
    {
        <tr>
            <td>
                @Li.ListningId
            </td>
            <td>@Li.UserId</td>
            <td>@Li.FromDate</td>
            <td>@Li.ToDate</td>
            <td>@Li.TotalPrice</td>
            <td> <a asp-controller="User" asp-action="deletebooking"></a></td>
            </tr>
    }
</table>