@model   IEnumerable<BookingModel>
<div style ="background-color: white; width: 60%; margin: auto; margin-top: 2rem; min-height: calc(100vh - 110px);">
 
    <h3>Bookings</h3>
    <table class="table table-striped">
        <tr>
            <th>Booking id</th>
            <th>user id</th>
            <th>booked from</th>
            <th>booked to</th>
            <th>Total price</th>
        </tr>
        @foreach (var Li in Model)
        {
            <tr>
                <td>
                    @Li.BookingId
                </td>
                <td>@Li.UserId</td>
                <td>@Li.FromDate</td>
                <td>@Li.ToDate</td>
                <td>@Li.TotalPrice</td>
                <td>
                    <a asp-controller="Account" asp-action="DeleteAdmin" asp-route-id="@Li.BookingId" class="btn btn-danger"> Delete</a>
                </td>
            </tr>
        }

    </table>
</div>
