@using System.Collections
@model IEnumerable<ApplicationUser>
<a asp-controller="Account" asp-action="ManageAllBookings"> Back to admin controll</a>
<table>
    <tr><th>User Id</th><th>User Name</th><th>First Name</th><th>Last Name</th></tr>
    @foreach (var u in Model)
    {


        <tr> <td> @u.Id</td><td>@u.UserName</td><td>@u.FirstName</td> <td>@u.LastName</td><td> <a asp-controller="Account" asp-action="AdminUpdateAuser" asp-route-Id="@u.Id"> update </a> <a asp-controller="Account" asp-action="DeleteAdminAccount" asp-route-userId="@u.Id"> delete</a></td><a>Change role</a></tr>

    }
</table>