
<div class="booking-card">
    <div class="booking-title">
        <h2 class="booking-card-title">Din booking</h2>
        <h4 class="booking-card-id">Booking ID: @Model.Booking.BookingId</h4>
    </div>
    <div class="booking-card-content">
        <div class="booking-text">
            <p class="booking-card-desc">
                Velkommen til din bolig. Vær snill å respekter husets
                og eiers regler. Brudd på retningslinjer vil medføre en  bot.
            </p>
            <div class="plot-name-wrapper">
                <p class="booking-card-sub">Entire Plot</p>
                <p class="plot-name">@Model.Listing.ListningName - @Model.Listing.SquareMeter m<sup>2</sup> - @Model.Listing.NoOfBeds @(Model.Listing.NoOfBeds == 1 ? "bed" : "beds")</p>
            </div>
            <div class="plot-add-wrapper">
                <p class="booking-card-sub">Address</p>
                <p class="plot-add">@Model.Listing.ListningAddress</p>
            </div>
            <div class="plot-owner-wrapper">
                <p class="booking-card-sub">Contact</p>
                <p class="plot-owner">@Model.Listing.User.Email</p>
            </div>
        </div>
        <img class="booking-img" src="@Model.Listing.ListningImageURL">
    </div>
    <div class="card-end">
        <div class="checkin">
            <p class="booking-card-sub">Check-In</p>
            <h4>@Model.Booking.FromDate.ToString("dd-MM-yyyy")</h4>
        </div>
        <div class="checkout">
            <p class="booking-card-sub">Check-Out</p>
            <h4>@Model.Booking.ToDate.ToString("dd-MM-yyyy")</h4>
        </div>
        <div class="booking-price">
            <p class="booking-card-sub">Total Price</p>
            <h3>@Math.Ceiling(Model.Booking.TotalPrice) kr,-</h3>
        </div>
    </div>
</div>