<script>
    function search() {
        let city = $('#location').val();
        let fromDate = $('#fromDate').val();
        let toDate = $('#toDate').val();
        let guests = $('#guests').val();

        // Start with the base URL
        let url = "/Explorer/Explore?";

        // Add parameters if they are not empty
        if (city) {
            url += `city=${city}&`;
        }

        if (fromDate) {
            url += `fromDate=${fromDate}&`;
        }

        if (toDate) {
            url += `toDate=${toDate}&`;
        }

        if (guests) {
            url += `guests=${guests}&`;
        }

        // Add amenities if the list is not empty
        if (selectedAmenities && selectedAmenities.length > 0) {
            url += `amenities=${encodeURIComponent(JSON.stringify(selectedAmenities))}`;
        }

        // Trim any trailing '&' or '?' characters
        url = url.endsWith('&') ? url.slice(0, -1) : url;
        url = url.endsWith('?') ? url.slice(0, -1) : url;

        // Redirect to the constructed URL
        window.location.href = url
    }

</script>

<div class="searchbar">
    <div class="location">
        <label for="location" class="searchbar-title">Hvor</label>
        <input type="text" placeholder="Søk etter lokasjon" id="location" value="@Model.City"/>
        <div id="output"></div>
    </div>
    <div class="fromDate">
        <label for="fromDate" class="searchbar-title">Innsjekking</label>
        <input type="date" placeholder="Legg til dato" id="fromDate" value="@Model.FromDate?.ToString("yyyy-MM-dd")">
    </div>
    <div class="toDate">
        <label for="toDate" class="searchbar-title">Utsjekking</label>
        <input type="date" placeholder="Legg til dato" id="toDate" value="@Model.ToDate?.ToString("yyyy-MM-dd")">
    </div>
    <div class="guests">
        <label for="guests" class="searchbar-title">Gjester</label>
        <input type="number" placeholder="Legg til gjester" id="guests" value="@Model.Guests">
    </div>
    <div id="submit-btn" onclick="search()">
        <img src="@Url.Content("~/images/icons/search.svg")">
    </div>
</div>

<script>
    const cityInput = $('#location');
    const cityOutput = document.getElementById('output');
    let cityArray = []

    function updateLocation(city) {
        cityOutput.innerHTML = ' '
        console.log(city)
        cityInput.val(city)
    }

    cityInput.keyup(async () => {
        cityArray = []
        if (cityInput.val().length < 3) {
            cityOutput.innerHTML = ' '
            return
        }
        try {
            const response = await fetch('/api/city-search?keyword=' + encodeURIComponent(cityInput.val()) + '&max=10');

            if (!response.ok) {
                console.error('Failed to fetch cities:', response.statusText);
                return;
            }

            const data = await response.json();
            cityArray = data.data
            // Clearing previous output, if desired
            output.innerHTML = '';

            if (Array.isArray(cityArray)) {
                cityArray.slice(0, 5).forEach(city => {
                    output.innerHTML += `<button onclick="updateLocation('${city.name}')"><strong>${city.name}</strong>, ${city.address.countryCode}</button>`;
                });
            } else {
                console.error('Data is not an array:', data);
            }
        } catch (error) {
            console.error('Error occurred:', error);
        }
    });

</script>
