@model NewListningViewModel
<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Update a listing"]</title>
</head>
            
<body>
<form asp-controller="Account" asp-action="UpdateListing" enctype="multipart/form-data">
    <input type="hidden" asp-for="@Model.Listning.ListningId"/>
    <div class="form-group">
        <label asp-for="@Model.Listning.ListningName"></label>
        <span class="text-danger">*</span>
        <input asp-for="@Model.Listning.ListningName" class="form-control"/>
        <span asp-validation-for="@Model.Listning.ListningName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Listning.ListningPrice"></label>
        <span class="text-danger">*</span>
        <input asp-for="@Model.Listning.ListningPrice" class="form-control"/>
        <span asp-validation-for="@Model.Listning.ListningPrice" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="ListningImage">Listning Image:</label>
        <input asp-for="ListningImage" type="file" accept=".png,.jpg,.jpeg" id="ListningImage"
        multiple="false" class="form-control-file">
        <span asp-validation-for="ListningImage" class="text-danger"></span>
    </div>*
    <div class="form-group">
        <label asp-for="@Model.Listning.FromDate">Available From</label>
        <span class="text-danger">*</span>
        <input asp-for="@Model.Listning.FromDate" id="fromDateInput" type="date" class="form-control" value="2023-09-30"/>
        <span asp-validation-for="@Model.Listning.FromDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Listning.ToDate">Available To</label>
        <span class="text-danger">*</span>
        <input asp-for="@Model.Listning.ToDate" id="toDateInput" type="date" class="form-control" value="2023-10-30"/>
        <span asp-validation-for="@Model.Listning.ToDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Listning.ListningDescription"></label>
        <input asp-for="@Model.Listning.ListningDescription" class="form-control"/>
        <span asp-validation-for="@Model.Listning.ListningDescription" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Listning.ListningAddress">Country</label>
        @if (Model.AvailableCountries != null && Model.AvailableCountries.Any())
        {
            <select asp-for="@Model.Listning.ListningAddress" asp-items="@(new SelectList(Model.AvailableCountries, "Contryname", "Contryname"))" class="form-control"></select>
        }
        else
        {
            <p>No countries available.</p>
        }
        <span asp-validation-for="@Model.Listning.ListningAddress" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Listning.SquareMeter"></label>
        <input asp-for="@Model.Listning.SquareMeter" class="form-control"/>
        <span asp-validation-for="@Model.Listning.SquareMeter" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Listning.NoOfBeds"></label>
        <input asp-for="Listning.NoOfBeds" class="form-control"/>
        <span asp-validation-for="Listning.NoOfBeds" class="text-danger"></span>
    </div>
    @** <h4>Select Amenities:</h4>**@
    @** for this version we also ignore the amenities TODO: hvis noen vil se på dette så værsegod
    @foreach (var amenity in Model.Amenities)
    {
        <input type="checkbox" name="SelectedAmenities" value="@amenity.AmenityId"/>
        @amenity.AmenityName


        <br/>
    }**@
    <button type="submit" class="btn btn-primary">update</button>
    <span asp-validation-for="SelectedAmenities" class="text-danger"></span>
</form>
<script>
    document.getElementById('fromDateInput').addEventListener('change', function() {
        const selectedDate = this.value;
        document.getElementById('toDateInput').setAttribute('min', selectedDate);
    });
</script>
}

</body>
</html>