@model RentalListViewModel

@section Styles {
    <link rel="stylesheet" href="~/css/index.css" />
}
<section class="hero">
    <div class="hero-wrapper">
        <div class="hero-left">
            <div class="hero-title">
                <h1>Finding your rental has never been easier.</h1>
                <p>Seamless Rentals: Your Dream vacation Just a Click Away!</p>
            </div>
            <partial name="_SearchBar" />
        </div>
        
        <div class="hero-right">
            <div id="carouselImages" class="thumbnail carousel slide" data-bs-ride="true">
                <div class="thumbnail-marker">
                    <img src="@Url.Content("~/images/icons/marker.svg")">
                </div>
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselImages" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselImages" data-bs-slide-to="1" class="active" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselImages" data-bs-slide-to="2" class="active" aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselImages" data-bs-slide-to="3" class="active" aria-label="Slide 4"></button>
                    <button type="button" data-bs-target="#carouselImages" data-bs-slide-to="4" class="active" aria-label="Slide 5"></button>
                    </div>
                <div class="carousel-inner">
                    @{var i = 0;}
                    @foreach (var rental in Model.Rentals)
                    {
                            @if(i==0){
                                <div class="thumbnail carousel-item active">
                                    <img class="thumbnail-img" src="@rental.ListningImageURL">

                                    <div class="thumbnail-text">
                                        <h5 class="card-title">@rental.ListningName</h5>
                                        <p>@rental.FromDate - @rental.ToDate</p>
                                        <p class="card-subtitle mb-2 text-body-secondary"><span class="price">@rental.ListningPrice</span> per natt</p>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="thumbnail carousel-item">
                                    <img class="thumbnail-img" src="@rental.ListningImageURL">

                                    <div class="thumbnail-text">
                                        <h5 class="card-title">@rental.ListningName</h5>
                                        <p>@rental.FromDate - @rental.ToDate</p>
                                        <p class="card-subtitle mb-2 text-body-secondary"><span class="price">@rental.ListningPrice</span> per natt</p>
                                    </div>
                                </div>
                            }
                        i++;
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    const selectedAmenities = []
</script>